.home {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.home_cta {
	background: var(--green-dark);
	padding: 2rem;
	border-radius: var(--radius-md);
}
.home_cta button {
	padding: 0.8rem 2rem;
	margin: 1rem 0rem;
}
.home_cta button:hover {
	color: var(--white);
}
